:root {
    /* STATIC */
    --static-transparent: #00000000;

    --static-white:        #ffffff;
    --static-white-medium: #ffffff4D;
    --static-black:        #000000;
    --static-black-medium: #0000004D;

    /* BASE */
    /* gray */
    --scheme-gray-100:  #0A0A0A;
    --scheme-gray-200:  #151515;
    --scheme-gray-300:  #3F3F3F;
    --scheme-gray-400:  #595959;
    --scheme-gray-500:  #757575;
    --scheme-gray-600:  #959595;
    --scheme-gray-700:  #B2B2B2;
    --scheme-gray-800:  #D2D2D2;
    --scheme-gray-900:  #E0E0E0;
    --scheme-gray-1000: #EDEDED;
    --scheme-gray-1100: #F3F3F3;
    --scheme-gray-1200: #F9F9F9;

    --scheme-gray-600-15: #95959526;
    --scheme-gray-600-30: #9595954D;
    --scheme-gray-600-50: #95959580;
    
    /* sand */
    --scheme-sand-100:  #0a0905;
    --scheme-sand-200:  #171611;
    --scheme-sand-300:  #414039;
    --scheme-sand-400:  #5d5b54;
    --scheme-sand-500:  #797770;
    --scheme-sand-600:  #97958e;
    --scheme-sand-700:  #b6b4ad;
    --scheme-sand-800:  #d6d4cc;
    --scheme-sand-900:  #e3e1d9;
    --scheme-sand-1000: #f0efe7;
    --scheme-sand-1100: #f7f5ed;
    --scheme-sand-1200: #fefcf4;
    
    --scheme-sand-600-15: #97958e26;
    --scheme-sand-600-30: #97958e4D;
    --scheme-sand-600-50: #97958e80;
    
    /* slate */
    --scheme-slate-100:  #080811;
    --scheme-slate-200:  #15151f;
    --scheme-slate-300:  #3e3f4a;
    --scheme-slate-400:  #595a66;
    --scheme-slate-500:  #757683;
    --scheme-slate-600:  #9697a5;
    --scheme-slate-700:  #b2b3c1;
    --scheme-slate-800:  #d2d3e2;
    --scheme-slate-900:  #dfe0ef;
    --scheme-slate-1000: #ecedfc;
    --scheme-slate-1100: #f3f4ff;
    --scheme-slate-1200: #f9faff;

    --scheme-slate-600-15: #9697a526;
    --scheme-slate-600-30: #9697a54D;
    --scheme-slate-600-50: #9697a580;

    /* mint */
    --scheme-mint-100:  #030b0a;
    --scheme-mint-200:  #0d1917;
    --scheme-mint-300:  #364341;
    --scheme-mint-400:  #505e5c;
    --scheme-mint-500:  #6a7875;
    --scheme-mint-600:  #8a9996;
    --scheme-mint-700:  #a9b8b5;
    --scheme-mint-800:  #c8d8d5;
    --scheme-mint-900:  #d5e5e2;
    --scheme-mint-1000: #e2f3f0;
    --scheme-mint-1100: #e9f9f6;
    --scheme-mint-1200: #f0fffd;
    
    --scheme-mint-600-15: #8a999626;
    --scheme-mint-600-30: #8a99964D;
    --scheme-mint-600-50: #8a999680;

    /* rose */
    --scheme-rose-100:  #110606;
    --scheme-rose-200:  #1f1212;
    --scheme-rose-300:  #4d3e3e;
    --scheme-rose-400:  #675656;
    --scheme-rose-500:  #847273;
    --scheme-rose-600:  #a59393;
    --scheme-rose-700:  #c2afaf;
    --scheme-rose-800:  #e2cfcf;
    --scheme-rose-900:  #f3dfdf;
    --scheme-rose-1000: #fde9e9;
    --scheme-rose-1100: #fff3f3;
    --scheme-rose-1200: #fffafa;

    --scheme-rose-600-15: #a5939326;
    --scheme-rose-600-30: #a593934D;
    --scheme-rose-600-50: #a5939380;

    /* dusk */
    --scheme-dusk-100:  #0d070d;
    --scheme-dusk-200:  #1a131a;
    --scheme-dusk-300:  #453d45;
    --scheme-dusk-400:  #605860;
    --scheme-dusk-500:  #7d747d;
    --scheme-dusk-600:  #9e959e;
    --scheme-dusk-700:  #bab1ba;
    --scheme-dusk-800:  #dad1da;
    --scheme-dusk-900:  #e7dee7;
    --scheme-dusk-1000: #f5ebf5;
    --scheme-dusk-1100: #fbf1fb;
    --scheme-dusk-1200: #fff8ff;

    --scheme-dusk-600-15: #9e959e26;
    --scheme-dusk-600-30: #9e959e4D;
    --scheme-dusk-600-50: #9e959e80;

    /* red */
    --scheme-red-100:  #130507;
    --scheme-red-200:  #2A0A10;
    --scheme-red-300:  #830711;
    --scheme-red-400:  #B6020C;
    --scheme-red-500:  #E90507;
    --scheme-red-600:  #FF5F53;
    --scheme-red-700:  #FF9689;
    --scheme-red-800:  #FDC6BD;
    --scheme-red-900:  #FDD8D2;
    --scheme-red-1000: #FDEAE6;
    --scheme-red-1100: #FCF1EF;
    --scheme-red-1200: #FDF9F8;

    --scheme-red-600-15: #FF5F5326;
    --scheme-red-600-30: #FF5F534D;
    --scheme-red-600-50: #FF5F5380;
    
    /* orange */
    --scheme-orange-100:  #120605;
    --scheme-orange-200:  #270D0A;
    --scheme-orange-300:  #7C1A06;
    --scheme-orange-400:  #AC2401;
    --scheme-orange-500:  #DB3400;
    --scheme-orange-600:  #FD6325;
    --scheme-orange-700:  #FF9964;
    --scheme-orange-800:  #FEC8A4;
    --scheme-orange-900:  #FDDAC2;
    --scheme-orange-1000: #FDEADD;
    --scheme-orange-1100: #FCF2E9;
    --scheme-orange-1200: #FCF9F5;

    --scheme-orange-600-15: #FD632526;
    --scheme-orange-600-30: #FD63254D;
    --scheme-orange-600-50: #FD632580;
    
    /* yellow */
    --scheme-yellow-100:  #100704;
    --scheme-yellow-200:  #231009;
    --scheme-yellow-300:  #6B2D09;
    --scheme-yellow-400:  #924205;
    --scheme-yellow-500:  #B85B02;
    --scheme-yellow-600:  #E07B00;
    --scheme-yellow-700:  #FE9C0B;
    --scheme-yellow-800:  #FECC55;
    --scheme-yellow-900:  #FEDE79;
    --scheme-yellow-1000: #FCEEA7;
    --scheme-yellow-1100: #FBF5CB;
    --scheme-yellow-1200: #FBFAEB;

    --scheme-yellow-600-15: #E07B0026;
    --scheme-yellow-600-30: #E07B004D;
    --scheme-yellow-600-50: #E07B0080;

    /* moss */
    --scheme-moss-100:  #080B04;
    --scheme-moss-200:  #111707;
    --scheme-moss-300:  #2F460C;
    --scheme-moss-400:  #3C630A;
    --scheme-moss-500:  #478309;
    --scheme-moss-600:  #4FA900;
    --scheme-moss-700:  #54CC01;
    --scheme-moss-800:  #76ED53;
    --scheme-moss-900:  #98F789;
    --scheme-moss-1000: #C0FDBB;
    --scheme-moss-1100: #DAFDD7;
    --scheme-moss-1200: #F0FDEF;

    --scheme-moss-600-15: #4FA90026;
    --scheme-moss-600-30: #4FA9004D;
    --scheme-moss-600-50: #4FA90080;

    /* green */
    --scheme-green-100:  #040B07;
    --scheme-green-200:  #081810;
    --scheme-green-300:  #0D4929;
    --scheme-green-400:  #0C6731;
    --scheme-green-500:  #0A8637;
    --scheme-green-600:  #08AC3A;
    --scheme-green-700:  #01CF38;
    --scheme-green-800:  #5FEF61;
    --scheme-green-900:  #91F88C;
    --scheme-green-1000: #C0FDBB;
    --scheme-green-1100: #DAFDD7;
    --scheme-green-1200: #F0FDEF;

    --scheme-green-600-15: #08AC3A26;
    --scheme-green-600-30: #08AC3A4D;
    --scheme-green-600-50: #08AC3A80;

    /* emerald */
    --scheme-emerald-100:  #040B0A;
    --scheme-emerald-200:  #081816;
    --scheme-emerald-300:  #0D483C;
    --scheme-emerald-400:  #0C6551;
    --scheme-emerald-500:  #0A8466;
    --scheme-emerald-600:  #08A97C;
    --scheme-emerald-700:  #01CB90;
    --scheme-emerald-800:  #56ECAD;
    --scheme-emerald-900:  #84F6C3;
    --scheme-emerald-1000: #B4FDDA;
    --scheme-emerald-1100: #D7FCEA;
    --scheme-emerald-1200: #EEFDF5;

    --scheme-emerald-600-15: #08A97C26;
    --scheme-emerald-600-30: #08A97C4D;
    --scheme-emerald-600-50: #08A97C80;

    /* aqua */
    --scheme-aqua-100:  #050B0D;
    --scheme-aqua-200:  #081719;
    --scheme-aqua-300:  #0C464B;
    --scheme-aqua-400:  #0C6367;
    --scheme-aqua-500:  #0B8184;
    --scheme-aqua-600:  #08A6A5;
    --scheme-aqua-700:  #01C7C3;
    --scheme-aqua-800:  #4DE9DC;
    --scheme-aqua-900:  #78F6E4;
    --scheme-aqua-1000: #B0FCEE;
    --scheme-aqua-1100: #D3FCF3;
    --scheme-aqua-1200: #ECFDF9;

    --scheme-aqua-600-15: #08A6A526;
    --scheme-aqua-600-30: #08A6A54D;
    --scheme-aqua-600-50: #08A6A580;

    /* cyan */
    --scheme-cyan-100:  #050911;
    --scheme-cyan-200:  #0A1525;
    --scheme-cyan-300:  #094074;
    --scheme-cyan-400:  #045B9C;
    --scheme-cyan-500:  #0279BE;
    --scheme-cyan-600:  #049EE2;
    --scheme-cyan-700:  #17C0FD;
    --scheme-cyan-800:  #60E4FC;
    --scheme-cyan-900:  #82F1FC;
    --scheme-cyan-1000: #B3FAFC;
    --scheme-cyan-1100: #D4FBFC;
    --scheme-cyan-1200: #EFFCFD;

    --scheme-cyan-600-15: #049EE226;
    --scheme-cyan-600-30: #049EE24D;
    --scheme-cyan-600-50: #049EE280;

    /* blue */
    --scheme-blue-100:  #0A071B;
    --scheme-blue-200:  #0D0B44;
    --scheme-blue-300:  #0019CB;
    --scheme-blue-400:  #033CF8;
    --scheme-blue-500:  #2D69FA;
    --scheme-blue-600:  #5A93FC;
    --scheme-blue-700:  #84B5FD;
    --scheme-blue-800:  #B4D6FB;
    --scheme-blue-900:  #CBE3FB;
    --scheme-blue-1000: #E0EFFC;
    --scheme-blue-1100: #EBF5FC;
    --scheme-blue-1200: #F6FAFD;

    --scheme-blue-600-15: #5A93FC26;
    --scheme-blue-600-30: #5A93FC4D;
    --scheme-blue-600-50: #5A93FC80;

    /* indigo */
    --scheme-indigo-100:  #0E0718;
    --scheme-indigo-200:  #1C0B35;
    --scheme-indigo-300:  #3D01C5;
    --scheme-indigo-400:  #5625F7;
    --scheme-indigo-500:  #7358FA;
    --scheme-indigo-600:  #9585FA;
    --scheme-indigo-700:  #B3A9FD;
    --scheme-indigo-800:  #D2CEFB;
    --scheme-indigo-900:  #E0DEFA;
    --scheme-indigo-1000: #EDEDFB;
    --scheme-indigo-1100: #F3F2FC;
    --scheme-indigo-1200: #F9F9FD;

    --scheme-indigo-600-15:  #9585FA26;
    --scheme-indigo-600-30:  #9585FA4D;
    --scheme-indigo-600-50:  #9585FA80;

    /* violet */
    --scheme-violet-100:  #0E0512;
    --scheme-violet-200:  #210B2B;
    --scheme-violet-300:  #60099B;
    --scheme-violet-400:  #7D04E4;
    --scheme-violet-500:  #9745F7;
    --scheme-violet-600:  #B07AFA;
    --scheme-violet-700:  #C7A2FD;
    --scheme-violet-800:  #DDCBFB;
    --scheme-violet-900:  #E6DCFB;
    --scheme-violet-1000: #F0EBFC;
    --scheme-violet-1100: #F5F3FC;
    --scheme-violet-1200: #FAF8FD;

    --scheme-violet-600-15:  #B07AFA26;
    --scheme-violet-600-30:  #B07AFA4D;
    --scheme-violet-600-50:  #B07AFA80;

    /* magenta */
    --scheme-magenta-100:  #100511;
    --scheme-magenta-200:  #250A26;
    --scheme-magenta-300:  #70077B;
    --scheme-magenta-400:  #9902B3;
    --scheme-magenta-500:  #BD1DE8;
    --scheme-magenta-600:  #D166FA;
    --scheme-magenta-700:  #DC98FD;
    --scheme-magenta-800:  #E8C7FB;
    --scheme-magenta-900:  #EFD9FB;
    --scheme-magenta-1000: #F5E9FC;
    --scheme-magenta-1100: #F8F1FC;
    --scheme-magenta-1200: #FBF8FD;

    --scheme-magenta-600-15:  #D166FA26;
    --scheme-magenta-600-30:  #D166FA4D;
    --scheme-magenta-600-50:  #D166FA80;

    /* pink */
    --scheme-pink-100:  #12050B;
    --scheme-pink-200:  #280A1A;
    --scheme-pink-300:  #7D074A;
    --scheme-pink-400:  #AE0169;
    --scheme-pink-500:  #DE028E;
    --scheme-pink-600:  #F854BE;
    --scheme-pink-700:  #FD8BE4;
    --scheme-pink-800:  #FCC0F1;
    --scheme-pink-900:  #FCD5F5;
    --scheme-pink-1000: #FCE7F9;
    --scheme-pink-1100: #FCF0FA;
    --scheme-pink-1200: #FDF8FC;

    --scheme-pink-600-15:  #F854BE26;
    --scheme-pink-600-30:  #F854BE4D;
    --scheme-pink-600-50:  #F854BE80;
}