.indicator {
  &:hover, &:focus-within {
    .inactive {
      background: var(--neutral-alpha-strong);
    }
  }
}

.inactive {
  background: var(--neutral-alpha-medium);
}

.active {
  background: var(--neutral-on-background-strong);
}

.controls {
  &:hover, &:focus-within {
    .button {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.button {
  opacity: 0;
  animation-delay: 0.2s;
}

.left {
  .button {
    transform: translateX(-1rem);
  }
}

.right {
  .button {
    transform: translateX(1rem);
  }
}