.shineFx {
  --shine-base-opacity: 0.3;
  
  display: inline-block;
  color: rgba(255, 255, 255, var(--shine-base-opacity));
  background: linear-gradient(
    120deg,
    transparent 40%,
    rgba(255, 255, 255, 1) 50%,
    transparent 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shineFx.disabled {
  animation: none;
  color: inherit;
  background: none;
}
